.App {
  text-align: center;
}
body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 35px;
}

h1,
h2,
h3 {
  font-family: canterbury;
  letter-spacing: 2px;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: canterbury;
  src: url(../src/assets/fonts/Canterbury.ttf);
  letter-spacing: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
